body {
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
         'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
         sans-serif;
   margin: 0;
   padding: 0;
   background-color: #f4f4f4;
   color: #333;
}

header {
   background-color: #023266;
   color: white;
   padding: 1rem;
   text-align: center;
}

main {
   padding: 1rem;
}

.colormap {
   border: 1px solid #ddd;
   border-radius: 4px;
   margin: 1rem;
   padding: 1rem;
   background-color: white;
   display: inline-block;
   width: calc(100% - 2rem);
   max-width: 800px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.colormap h2 {
   margin-top: 0;
   font-size: 1.2rem;
   color: #000000;
}

.colors {
   display: flex;
   flex-wrap: wrap;
}

.color {
   width: 60px;
   height: 60px;
   margin: 2px;
   border-radius: 2px;
}

button {
   margin-top: 1rem;
   padding: 0.5rem 1rem;
   border: none;
   background-color: #023266;
   color: white;
   border-radius: 4px;
   cursor: pointer;
   transition: background-color 0.3s;
}

#colormap-container {
   justify-content: center;
}

button:hover {
   background-color: #0769d1;
}

.clearfix {
   clear: both;
}

h1, h2, h3, h4 {
   font-weight: 300;
}

a {
   color: #ffb011;
   text-decoration: none;
   font-weight: 400;
   transition: color 0.3s;
}

a:hover {
   color: #df7b00;
}

.container {
   width: 80%;
   margin: auto;
}