body {
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
   margin: 0;
   padding: 0;
   background-color: #f4f4f4;
   color: #333;
}

header {
   background-color: #023266;
   color: white;
   padding: 1rem;
   text-align: center;
}

main {
   padding: 1rem;
}

.colormap {
   border: 1px solid #ddd;
   border-radius: 4px;
   margin: 1rem;
   padding: 1rem;
   background-color: white;
   display: inline-block;
   width: calc(100% - 2rem);
   max-width: 800px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title-container {
   display: flex;
   align-items: center;
   margin-bottom: 1rem;
}

.colormap h2 {
   margin: 0;
   font-size: 1.2rem;
   color: #000000;
   margin-right: 10px;
}

.colors {
   display: flex;
   flex-wrap: wrap;
}

.color {
   width: 60px;
   height: 60px;
   margin: 2px;
   border-radius: 2px;
}

button {
   margin-top: 0;
   font-size: 18px;
   font-weight: 400;
   padding: 0.5rem 1rem;
   border: none;
   background-color: #023266;
   color: white;
   border-radius: 4px;
   cursor: pointer;
   transition: background-color 0.3s;
}

button:hover {
   background-color: #df7b00;
}

#colormap-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.clearfix {
   clear: both;
}

h1,
h2,
h3,
h4 {
   font-weight: 300;
}

h1 {
   font-size: 2.5rem;
}
h4 {
   font-size: 1.5rem;
}

a {
   color: #ffb011;
   text-decoration: none;
   font-weight: 600;
   transition: color 0.3s;
}

a:hover {
   color: #df7b00;
}

.container {
   width: 80%;
   margin: auto;
}

.code-snippet {
   background-color: #f8f8f8;
   border: 1px solid #ddd;
   border-radius: 4px;
   padding: 1rem;
   margin-top: 1rem;
   font-family: 'Courier New', Courier, monospace;
   font-size: 0.9rem;
   color: #333;
   position: relative;
   /* Position relative to allow absolute positioning of the button */
   white-space: pre-wrap;
   /* Ensure the code respects line breaks */
}

.code-snippet button {
   position: absolute;
   top: 10px;
   right: 10px;
   padding: 0.4rem 0.7rem;
   font-size: 1rem;
   border: none;
   background-color: #c1c1c1;
   color: rgb(0, 0, 0);
   border-radius: 4px;
   cursor: pointer;
   transition: background-color 0.3s;
}

.code-snippet button:hover {
   background-color: #df7b00;
}

#palette-of-the-day {
   border: 2px solid #023266;
   border-radius: 8px;
   padding: 2rem;
   background-color: #e0f7fa;
   margin-bottom: 2rem;
   text-align: center;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#palette-of-the-day h2 {
   margin-top: 0;
   color: #023266;
   font-size: 2rem;
}

#palette-of-the-day-container {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 1rem;
}

#palette-of-the-day .color {
   width: 50px;
   height: 50px;
   margin: 5px;
   border-radius: 8px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#palette-of-the-day-title {
   font-size: 1.5rem;
   color: #023266;
   margin-right: 1rem;
   padding: 0.5rem 1rem;
   border: 2px solid #023266;
   border-radius: 8px;
   display: inline-block;
}

#palette-of-the-day-code {
   background-color: #f8f8f8;
   border: 1px solid #ddd;
   border-radius: 4px;
   padding: 1rem;
   text-align: left;
   margin-top: 1rem;
   font-family: 'Courier New', Courier, monospace;
   font-size: 1rem;
   color: #333;
   width: fit-content;
   margin: 1rem auto 0 auto;
}